.scroll-poc-marketed
  select
    color red
    font-size 20px
    font-weight 600

.brawl-ui
  display flex
  flex-direction column
  align-items: flex-start
  margin 0.5rem
  +mq('bp-6')
    flex-direction row
    align-items center
    margin-bottom 2.5rem
    margin-left 0rem

  .ui-display
    display flex
    flex-direction row
    align-items: baseline;

    &_prompt
      color $gray
      set-type-size('x-small', true)
      text-transform uppercase
      margin 0 0.5rem 0 0

    &_button
      padding 0.1rem 0.5rem
      background-color white
      margin 0 0.2rem
      border-radius 5px
      border 1px solid blue
      cursor pointer
      border-radius 255px 25px 225px 25px/25px 225px 25px 255px;

      &.is-active
        background-color blue

        .ui-button
          font-weight: 600
          color white

      .ui-button
        margin 0
        set-type-size('small', true)
        color blue



  .ui-fenty
    margin-left 0
    margin-top 0.3rem
    display flex
    flex-direction row
    align-items center
    +mq('bp-6')
      margin-left 3rem
      margin-top 0

    &_prompt
      margin 0.1rem 0 0 0
      set-type-size('x-small', true)
      text-transform: uppercase;
      color $gray
      +mq('bp-6')
        margin 0.1rem 0 0 0.5rem

    .toggle
      position relative
      display inline-block
      width 3rem
      height 1.5rem
      order 1
      margin-left 0.5rem
      +mq('bp-6')
        order 0

      input
      	display none

      input:checked + .slider
      	background-color $gray-dark

      input:focus + .slider
      	box-shadow 0 0 1px $gray-dark

      input:checked + .slider:before
      	transform translateX(1.5rem)

      .slider
      	position absolute
      	cursor pointer
      	top 0
      	left 0
      	right 0
      	bottom 0
      	background-color #ccc
      	transition 0.33s
      	border-radius 1rem

      	&:before
      		position absolute
      		content ""
      		height 1.25rem
      		width 1.25rem
      		border-radius 50%
      		left 0.125rem
      		bottom 0.125rem
      		background-color white
      		transition 0.33s
