.conclusion

  .text-content
    max-width $column-width
    margin 0 auto

  .conclusion-title
    font-weight 600
    padding 0 1rem
    max-width $column-width
    margin 1rem auto

  ul
    padding 0 1rem
    max-width 90%
    margin 0 auto
    list-style-type square

    li
      margin 0.5rem 0
  .spark-container 
    margin-top 4rem

.methods
  opacity 0.667
  margin-top 2rem
  margin-bottom 2rem
  padding 2rem
  max-width 100%

  a, a:visited
    border-color #ccc

  &-title
    font-weight 600
    max-width $column-width
    padding 0 1rem
    margin 0.5rem auto
    set-type-size('small', true)

  &-text
    max-width $column-width
    padding 0 1rem
    margin 0 auto
    set-type-size('small', true)
