.conclusion

  .text-content
    max-width $column-width
    margin 0 auto

  .conclusion-title
    font-weight 600
    padding 0 1rem

  ul
    padding 0 1rem
    max-width 90%
    margin 0 auto
    list-style-type square

    li
      margin 0.5rem 0

.methods
  background-color #fef1ea
  margin-bottom 0
  padding 2rem

  &-title
    font-weight 600
    max-width $column-width
    padding 0 1rem
    margin 0.5rem auto
    set-type-size('small', true)

  &-text
    max-width $column-width
    padding 0 1rem
    margin 0 auto
    set-type-size('small', true)
