.h2h
  max-width 30rem
  margin 0 auto

  .bin-category
    display flex
    justify-content center
    align-items flex-end;
    flex-direction row
    height 55px
    border 1px dashed $gray-light
    padding-bottom 1px
    margin 5px 0

    .bin-brand
      max-width $column-width / 2
      margin 0 2rem
      display flex
      flex-direction column
      justify-content: center
      align-items: flex-end;

      .bin-swatch
        margin 0.5px 0
        border-radius 3px
        display relative
