.intro
	margin 0 auto
	padding 4rem 1rem 1.5rem 1rem

	// background linear-gradient(#583218, #894f29, #ac7752, #d59d6d, #f4cca8, #fde9de, #ffffff);

	&__hed
		//max-width 30rem
		margin 0 auto
		padding-top 2rem
		font-weight 600
		text-align left
		text-transform uppercase
		set-type-size('xx-large', true)

		p
			margin 0 auto
			max-width 12rem
			+mq('bp-4')
				max-width 20rem
			+mq('bp-6')
				max-width 28rem

		#beauty
			font-family Nunito, sans-serif
			font-weight 300
			font-size 50px
			line-height 0.8em
			//color $boxing-red
			+mq('bp-4')
				font-size 80px
				line-height 0.8em
			+mq('bp-6')
				font-size 110px
				line-height 0.8em
			//font-size 70px
		#brawl
			font-family Rubik Mono One, sans-serif
			font-size 46px
			line-height 0.8em
			//color $boxing-red
			+mq('bp-4')
				font-size 76px
				line-height 0.8em
			+mq('bp-6')
				font-size 106px
				line-height 0.8em
		//font-size 70px
		//color #eb0c13
		//text-shadow 0px 0px 1px #f4cca8, 1px 1px 1px #f4cca8, 2px 2px 1px #f4cca8

	&__byline
		max-width $column-width
		margin 0 auto
		padding-top 2.5rem
		padding-bottom 0.5rem
		text-align center
		set-type-size('small', true)
		line-height 2
		font-family Nunito, sans-serif

	&__credit
		color #666
		font-family Nunito, sans-serif

	a
		font-family Nunito
		font-weight 700

	&__creditsmall
		color #666
		text-align center
		margin-top -0.25rem
		margin-bottom 0.5rem
		set-type-size('x-small', true)
		font-family Nunito, sans-serif

	&__dek
		margin 1rem auto
		padding-top 1rem
		text-align center
		font-family Nunito, sans-serif
		font-weight 300
		border-top 1px solid $gray-dark
		set-type-size('large', true)
		line-height 1em !important
		max-width 15rem
		+mq('bp-4')
			max-width 20rem
		+mq('bp-6')
			max-width 25rem
			set-type-size('x-large', true)

	.by-line-sep
		color blue
		font-weight 600
		margin 0 0.5rem

	&__date
		set-type-size('x-small', true)
		font-family Rubik Mono One, sans-serif
		font-weight 600
		color #666
		max-width $column-width
		margin 3rem auto 0
		text-align center

.coverimage1
	position absolute
	left 0
	max-width 5.5rem
	top -2rem
	+mq('bp-3')
		max-width 7rem
		top 6rem
	+mq('bp-5')
		left -0.25rem
		max-width 15rem
		top -2.5rem
.coverimage2
	position absolute
	right 0
	max-width 5.75rem
	top -2rem
	+mq('bp-3')
		max-width 7.5rem
		top 6rem
	+mq('bp-5')
		max-width 15.5rem
		top -2.5rem
