#part-2
  .text-content
    max-width $column-width
    margin 0 auto
    .section-head
      padding 0 1rem
      font-family Nunito, sans-serif
      font-weight 400
      text-transform: capitalize;
      //set-type-size('x-large', true)//font-weight 600

      .part
        text-transform uppercase
        background-color lighten($boxing-red, 45)
        //color white
        //background-color $boxing-red
        padding 0.25rem 0.5rem
        border-radius 255px 15px 225px 15px/15px 225px 15px 255px;
        border 4px solid $boxing-red
        font-family Rubik Mono One, sans-serif

    .section-sub
      padding 0 1rem
      font-size 28px
      font-family Nunito, sans-serif
      font-weight 700


  .graphic-hed
    // max-width $column-width
    // margin 0 auto

    .graphic-title
      text-transform uppercase
      set-type-size('small', true)
      margin-bottom 0

    .graphic-sub
      text-transform uppercase
      set-type-size('large', true)
      font-weight 600
      margin-top 0

    .graphic-legend
      set-type-size('small', true)
      color $gray
      text-transform uppercase

      #winner
        background-color $primary
        color $off-black
        font-weight 600
        padding 0.2rem 0.5rem
        border-radius 5px
        margin-right 0.2rem


  .measurement
    margin 2rem 1rem
    background-color lighten(#fde9de, 2.5)
    padding 1rem 2rem

    &-title
      margin 0.25rem 0 1rem
      font-weight 600
      set-type-size('small', true)

    &-steps
      list-style-type circle
      li
        set-type-size('small', true)
        margin-bottom 0.5em
