#part-1
  .text-content
    max-width $column-width
    margin 0 auto

    // .section-head
    //   padding 0 1rem
    //   font-family Nunito, sans-serif
    //   font-weight 400
    //   text-transform: capitalize;
    //   //set-type-size('x-large', true)//font-weight 600
    //
    //   .part
    //     text-transform uppercase
    //     background-color lighten($boxing-red, 45)
    //     //color white
    //     //background-color $boxing-red
    //     padding 0.25rem 0.5rem
    //     border-radius 255px 15px 225px 15px/15px 225px 15px 255px;
    //     border 4px solid $boxing-red
    //     font-family Rubik Mono One, sans-serif
    //
    // .section-sub
    //   padding 0 1rem
    //   font-size 28px
    //   font-family Nunito, sans-serif
    //   font-weight 700

  .measurement
    margin 1rem 1rem 2rem
    border 2px solid $boxing-yellow
    //outline 2px solid $boxing-red
    border-radius 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color lighten($boxing-yellow, 35)
    padding 1rem 2rem
    font-family Nunito, sans-serif

    &-title
      margin 0.25rem 0.5em 1rem
      font-weight 600
      set-type-size('small', true)
      text-transform capitalize
      //color $gray-dark

    &-steps
      list-style-type square
      //color $gray-dark
      li
        set-type-size('small', true)
        margin-bottom 0.5em
        padding-left 0.5em
  .fenty-mufe
    .scroll
      display flex
      flex-direction column
      justify-content: center
      align-items: flex-start
      position relative
      margin-bottom 10rem
      +mq('bp-6')
        justify-content: flex-end
        align-items: flex-start
        flex-direction row
        margin-bottom 5rem


      &-text
        position relative
        padding 0 1rem
        display flex
        justify-content center
        flex-direction column
        max-width 75vw
        margin 0 auto
        //width 40%
        //margin-right 2rem
        +mq('bp-6')
          max-width 30rem

        .step
          margin 2rem auto
          display flex
          align-items center

          p
            background-color lighten($boxing-yellow, 38)
            padding 0.5rem
            border-radius 255px 15px 225px 15px/15px 225px 15px 255px;
            border 1px solid $boxing-yellow
            box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.025)
            +mq('bp-6')
              background-color white
              border none
              box-shadow none

          .winnerHighlight
            background-color $boxing-yellow
            padding 0.1rem 0.3rem
            border-radius 5px

      &-graphic
        position: -webkit-sticky;
        position: sticky;
        top 0
        bottom auto
        transform translate3d(0, 0, 0)
        +mq('bp-6')
          top 1rem

        // &.is-fixed
        //   position fixed
        //
        // &.is-bottom
        //   bottom 0
        //   top auto

        .chart
          position absolute
          //margin-left 2rem
          //left 1rem
          top 50%
          -moz-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

        // .h2h
        //   position absolute
        //   right 1rem
        //   top 50%

        .graphic-hed
          max-width $column-width
          margin 0 auto
          font-family Nunito, sans-serif

          .graphic-title
            text-transform uppercase
            font-size 14px
            margin-bottom 0
            margin-top 0
            margin-left 0.5rem
            +mq('bp-6')
              margin-left 0

          .graphic-sub
            font-size 20px
            font-weight 600
            margin-top 0
            margin-bottom 0.5rem
            margin-left 0.5rem
            +mq('bp-6')
              margin-left 0

          .graphic-legend
            set-type-size('x-small', true)
            color $gray
            text-transform uppercase
            margin 0 0 0.25rem 0.5rem
            +mq('bp-6')
              margin 0.5rem 0 1.5rem

            #winner
              background-color $boxing-yellow
              color $off-black
              font-weight 600
              padding 0.2rem 0.5rem
              border-radius 5px
              margin-right 0.2rem
              set-type-size('x-small', true)


  .disclaimer
    margin 2rem 1rem
    //background-color lighten(#fde9de, 2.5)
    border 2px solid $boxing-yellow
    padding 1rem 2rem 0.5rem
    border-radius 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color lighten($boxing-yellow, 35)
    padding 1rem 2rem
    font-family Nunito, sans-serif

    &-title
      margin 0.25rem 0 1rem
      font-weight 600
      set-type-size('small', true)
      text-transform capitalize

    &-text
      margin 0 0 1rem
      set-type-size('small', true)

  .definition
    margin 1rem
    //background-color #583218
    //color white
    border 2px solid $boxing-yellow
    padding 0.5rem 1rem
    set-type-size('small', true)
    border-radius 255px 25px 225px 25px/25px 225px 25px 255px;
    background-color lighten($boxing-yellow, 35)
    font-family Nunito, sans-serif
    //padding 1rem 2rem

  .part1-conclusion
    max-width $column-width

    .conclusion-title
      padding 0 1rem
      font-weight 600

    ul
      padding 1rem 1rem 0.5rem
      margin-left 0.75rem
      line-height 1.25
      margin-top 1rem
      margin-bottom 1rem
      border-top 1px solid #fde9de
      border-bottom 1px solid #fde9de

      li
        margin-left 2.5rem
        padding-left 0
        margin-bottom 1rem

   // .founders-table-header
   //    font-style italic
   //    margin-top 1.5rem
  .founders-table
    display flex
    flex-direction column
    max-width 30rem
    margin 0 auto
    text-transform capitalize
    font-family Nunito, sans-serif

    &-header
      font-weight 600
      font-size 20px
      margin 0.5rem auto

    .columns
      display flex
      flex-direction row
      align-items: flex-start
      justify-content: space-around

      .bipoc-white
        .bipoc-title
          border 2px solid #f4cca8
          padding 0.1rem 0.4rem
          background-color lighten(#f4cca8, 10)
          border-radius 255px 25px 225px 25px/25px 225px 25px 255px;

      .bipoc-bipoc
        .bipoc-title
          border 2px solid #894f29
          padding 0.1rem 0.4rem
          background-color rgba(137, 79, 41, 0.4)
          border-radius 255px 25px 225px 25px/25px 225px 25px 255px;

      .bipoc-column

        .bipoc-title
          text-align: center
          text-transform capitalize
          font-weight 600
          margin 1rem 0
          //border-bottom 1px solid red

        .bipoc-list
          margin-left 0 !important
          li
            text-align center
            padding-left 0
            margin-left 0
            font-size 14px
            line-height 1



    // .bipoc-title
    //   margin-bottom 0.4rem
    //   display inline-block
    //   padding-bottom 0.125rem
    //   font-style italic
    // .bipoc-white, .bipoc-bipoc
    //   width 48%
    //   display inline-block
    //   vertical-align top
    // .bipoc-white
    //   .bipoc-title
    //     border-bottom 0.25rem solid #f4cca8
    // .bipoc-bipoc
    //   .bipoc-title
    //     border-bottom 0.25rem solid #894f29
    // .bipoc-list
    //   margin-left 0
    //   li
    //     padding-left 0
    //     margin-bottom 0.5rem

.part1-conclusion
  li
    margin-left 4rem

.part1-conclusion ul li.dark-down::before {
  content: '👎🏿';
  font-size: 1.4rem;
  display: block;
  height: 0;
  width: 0;
  left: -2.5rem;
  top: 0.25rem;
  position: relative;
}

.part1-conclusion ul li.point::before {
  content: '☝🏽';
  font-size: 1.4rem;
  display: block;
  height: 0;
  width: 0;
  left: -2.5rem;
  top: 0.25rem;
  position: relative;
}
.part1-conclusion ul li.clap::before {
  content: '👏🏾';
  font-size: 1.4rem;
  display: block;
  height: 0;
  width: 0;
  left: -2.5rem;
  top: 0.25rem;
  position: relative;
}

.part1-conclusion ul li.light-up::before {
  content: '👍🏻';
  font-size: 1.4rem;
  display: block;
  height: 0;
  width: 0;
  left: -2.5rem;
  top: 0.25rem;
  position: relative;
}

.part1-conclusion ul li.nails::before {
  content: '💅🏽';
  font-size: 1.4rem;
  display: block;
  height: 0;
  width: 0;
  left: -2.5rem;
  top: 0.25rem;
  position: relative;
}
