.spark-container
  //border-top 4px solid $boxing-yellow
  //border-bottom 1px solid $gray-light
  .spark-hed
    max-width $column-width
    margin 0 auto
    .spark-title
      color blue
      font-size 28px
      font-weight 600
      border-radius 5px
      padding 0 1rem
      //color $gray
      text-transform capitalize
      margin-bottom 0.5rem

    .spark-sub
      font-size 20px
      margin-top 0.5rem

  .spark
    display flex
    flex-wrap wrap
    max-width 800px
    margin 3rem auto 2.25rem

    .bin-group
      display flex
      flex-direction column
      align-items center
      justify-content: flex-end
      width 150px
      max-height 500px
      margin 0 1.5rem

      .bin-brandTGroup
        text-transform uppercase
        font-weight 600
        align-self center
        border-bottom 1px solid $gray-light
        set-type-size('small', true)


      .category-group
        display flex
        flex-direction row
        align-items: flex-end
        height: 240px
        border-bottom 1px solid $gray

        .bin-category
          display flex
          align-items: flex-end
          width 15px
          margin 0 1px

          .bin-swatch
            border-radius 5px
            margin-top 1px

      .bin-labelGroup
        display flex
        flex-direction column-reverse
        justify-content: flex-start
        align-items: center
        //transform translate(8px, 0)

        .bin-labelsOnly
          order 0
          display flex
          flex-direction row
          //justify-content: space-between;
          set-type-size('xx-small', true)
          text-align left
          color $gray-light
          opacity 1
          width 180px

          .bin-labelCat
            width 15px
            margin 1px
            &-odd
              opacity 0


        .bin-labelTitle
          set-type-size('x-small', true)
          text-transform: uppercase;
          color $gray-light
          text-align center
          order 1
