
<section class='conclusion'>
  {{> story/divider }}

  <p class='conclusion-title'>{{copy.conclusion-title}}

  <div class='spark spark-world' data-groups='world'></div>

  <div class='text-content'>

    <p class='prose'>{{{copy.conclusion-intro}}}</p>

    <ul>
      {{#each copy.conclusion}}
        <li>{{{this}}}</li>
      {{/each}}
    </ul>

    {{#each copy.conclusion-post}}
      <p class='prose'>{{{value}}}</p>
    {{/each}}

  </div>
</section>
