<section id='foreward'>
  <div class='slider-elements'>
    <p class='section-head'>{{copy.foreward-title}}</p>
   	<img src='assets/img/personface.svg' class='emojiface'> 
    <p class='instructions'>{{copy.slider-sub}}</p>
    <button type='button'>{{copy.slider-button}}</button>
  </div>
</section>

{{> story/divider }}


