<img src=assets/img/round11.jpg class=part11img>
<div class='measurement'>
  <p class='measurement-title tk-atlas'>{{copy.measurement-title}}</p>
  <ul class='measurement-steps tk-atlas'>
    {{#each copy.methods-box}}
      <li>{{{this}}}</li>
    {{/each}}
  </ul>
</div>
