<img src=assets/img/round11.jpg class=part11img>
<div class='measurement'>
  <p class='measurement-title'>{{copy.measurement-title}}</p>
  <ul class='measurement-steps'>
    {{#each copy.methods-box}}
      <li>{{{this}}}</li>
    {{/each}}
  </ul>
</div>
