<section class='methods'>
  <p class='methods-text methods-text-data'>{{{copy.data}}}</p>
{{#each copy.methods}}
  <p class='methods-text'>{{{value}}}</p>
{{/each}}

{{#each copy.thanks}}
  <p class='methods-text'>{{{value}}}</p>
{{/each}}


</section>
