<section id='part-1'>
  <div class='text-content'>
    <p class='section-head'>{{{copy.part1-title}}}</p>
    <p class='section-sub'>{{copy.part1-sub}}</p>

    {{#each copy.part1-intro}}
      <p class='prose'>{{{value}}}</p>
    {{/each}}

    {{> story/measurement }}
  </div>

  <div class='h2h h2h-part1' data-comp1='fe', data-comp2='mu'>
  </div>
</section>
