<section id='part-2'>
  <div class='text-content'>
    <img src='assets/img/part2.jpg' class='part2img'>
    <p class='section-head'>{{{copy.part2-title}}}</p>

    {{#each copy.part2-intro}}
      <p class='prose'>{{{value}}}</p>
    {{/each}}

    <p class='section-sub loaded-atlas tk-atlas'>{{copy.part2-1-sub}}</p>

    {{#each copy.part2-1-intro}}
      <p class='prose'>{{{value}}}</p>
    {{/each}}

  </div>

</section>
